@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");


@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card-flex.css");
@import url("components/footer-section.css");
@import url("components/card-white.css");

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
h1, h2 {
font-weight: bold;
}

h3 {
  font-style: italic;
  font-weight: lighter;
}

li {
  list-style: none;
  padding-left: 0px;
  display: inline;
  padding: 10px;
}

.title-green {
  padding: 5px 8px 3px;
  color: #1edd88;
  background: #e4fff3;
}

#helper-section {
  margin-bottom: 0px;
}

